.card-wrapper {
	background-color: #fff;
	padding: 16px;
	border-bottom: 1px solid $main-bg;
	color: $dark-grey;
	.card-inner {
		display: flex;
		align-items: center;
		gap: 16px;
		.image-container {
			width: 180px;
			height: 180px;
			border-radius: 4px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.card-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			height: 150px;
			margin-top: 20px;
			.upper {
				display: flex;
				flex: 0 0;
				width: 90%;
				justify-content: space-between;
				margin-bottom: 32px;
				.price-shipping {
					flex: 0;
					display: flex;
					align-items: center;
					.item-price {
						p {
							font-size: 24px;
							margin: 0;
						}
					}
					.free-shipping {
						width: 20px;
						height: 20px;
					}
				}
				.seller-location {
					font-size: 14px;
					color: $mid-grey;
				}
			}
			.lower {
				margin-bottom: auto;
				flex: 1;
				.item-title {
					font-size: 18px;
					margin: 0;
				}
			}
		}
	}
}
