.categories-container {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	color: $light-grey;
	margin: 16px 0;
	height: 21px;
	@media (max-width: 1200px) {
		flex-wrap: wrap;
		height: auto;
	}
	.button-wrapper {
		display: flex;
		margin-right: 10px;
		gap: 5px;
		justify-content: flex-start;
		align-items: center;
		.go-back-button {
			background-color: transparent;
			border: none;
			color: $light-grey;
			cursor: pointer;
			border-bottom: 1px solid transparent;
			transition: all 0.2s;
			margin: 0;
			padding: 0 5px;
			font-size: 14px;
			margin-top: 2px;
			@media (max-width: 1200px) {
				font-size: 11;
			}
			&:hover {
				border-color: $light-grey;
			}
			&:focus {
				outline: none;
				background-color: #71717137;
			}
		}
		span {
			margin-bottom: 2px;
			@media (max-width: 1200px) {
				display: none;
			}
		}
	}
	.categories {
		display: flex;
		gap: 6px;
		align-items: center;
		@media (max-width: 1200px) {
			gap: 3px;
			flex-wrap: wrap;
		}
		.category-text {
			margin: 0;
			font-size: 14px;
			@media (max-width: 1200px) {
				font-size: 11px;
			}
		}
		.chevron-right {
			width: 15px;
			height: 15px;
			margin-top: 2px;
			opacity: 0.3;
		}
	}
}
